---
# Copyright (c) 2018 Guillaume Mazoyer under the GPL License
# Copyright (c) 2017-2018 Musee "lae" Ullah under the MIT License
- name: install required packages
  package:
    name: "{{ __netbox_required_packages | flatten }}"
    state: present
  vars:
    __netbox_required_packages:
      - "{{ netbox_python_packages }}"
      - "{{ netbox_postgresql_packages }}"
      - "{{ netbox_redis_packages if netbox_use_webhooks else [] }}"
      - "{{ netbox_other_packages }}"
      - "{{ netbox_web_backend_packages if netbox_setup_web_backend else [] }}"
      - "{{ netbox_web_frontend_packages if netbox_setup_web_frontend else [] }}"
  register: package_result
  until: package_result is success
