---
- name: Include variables
  ansible.builtin.import_tasks: include_vars.yml
- name: Configure latest version
  include_tasks: version.yml
  when: >
    netbox_version is match("latest")
    or netbox_version is not defined
- name: Install packages
  ansible.builtin.import_tasks: install_packages.yml

- name: Ensure Python 3 is used
  ansible.builtin.set_fact:
    ansible_python_interpreter: "{{ netbox_python_binary }}"

- name: Create NetBox user and group
  block:
    - name: Create NetBox group
      ansible.builtin.group:
        name: "{{ netbox_group }}"

    - name: Create NetBox user
      ansible.builtin.user:
        name: "{{ netbox_user }}"
        group: "{{ netbox_group }}"
        home: "{{ netbox_user_home_directory }}"

- name: Setup database
  ansible.builtin.import_tasks: setup_database.yml
  when: netbox_database_host == 'localhost'
- name: Setup NetBox
  ansible.builtin.import_tasks: setup_netbox.yml

- name: Setup systemd
  ansible.builtin.import_tasks: setup_systemd.yml
  when: netbox_setup_systemd|bool

- name: Setup web frontend
  ansible.builtin.import_tasks: setup_web_frontend.yml
  when: netbox_setup_web_frontend|bool
