# {{ ansible_managed }}

command = '{{ gunicorn_binary_path }}'
pythonpath = '{{ netbox_install_directory }}/netbox'
bind = '{{ netbox_gunicorn_address }}:{{ netbox_gunicorn_port }}'
workers = {{ netbox_gunicorn_workers_number }}
user = '{{ netbox_gunicorn_user }}'