#!/bin/bash

# {{ ansible_managed }}

NAME="netbox-rqworker"
DJANGODIR={{ netbox_install_directory }}/netbox/
USER={{ netbox_user }}
GROUP={{ netbox_group }}
DJANGO_SETTINGS_MODULE=netbox.settings

echo "Starting ${NAME} as $(whoami)"

# Activate the virtual environment
source {{ netbox_virtualenv_path }}/bin/activate
export DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
export PYTHONPATH=${DJANGODIR}:${PYTHONPATH}

# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
exec python ${DJANGODIR}/manage.py rqworker
